.aside-banner{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    margin-top: 20px;
    
}

.aside-banner .aside{
    flex: 1;
}

.aside-banner .banner{
    flex: 2;
    height: 479px;
}

.area-ofertas{
    width: 100%;
}
