
<section class="header">
    <app-header></app-header>
</section>

<section class="area-busca">
    <app-busca></app-busca>
</section>

<section class="app-container">
    <div class="aside-banner">
        <div class="aside">
            <div><app-toggle ></app-toggle></div>
            <div><app-aside></app-aside></div>
        </div>
        
        <div class="banner">
            <app-area-banner></app-area-banner>
        </div>           
    </div>
</section>

<section class="app-container">
    <div class="area-ofertas">
        <app-area-ofertas></app-area-ofertas>
    </div>
</section>
<!-- 

<section class="app-container">
    <div class="mais-vendidos">
        <app-mais-vendidos></app-mais-vendidos>
    </div>
</section>

<section class="app-container">
    <div class="marcas">
        <app-marcas></app-marcas>
    </div>
</section>-->



<section>
    <app-footer></app-footer>
</section> 