.itens{
    height: 100%;

}

.banner{
    display: flex;
    align-items: center;
}

.banner-um img{
    position: relative;
    z-index: -1;
}

.descricoes{
    position: absolute;
    width: 55%;
    padding: 20px;
    margin-left: 30px;

}

.sobre p:nth-child(1){
    background-color: #FEC21E;
    width: 50%;
    padding: 2px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sobre span{
    font-size: 1.8em;
    font-weight: 300;
    padding: 5px;
}

.sobre h2{
    font-size: 1.8em;
    font-weight: 700;
    padding: 10px;

}

.sobre .conteudo{
    padding: 5px;

}

.img-desk{
    display: block;
}
.img-mobile{
    display: none;
}


@media (max-width: 575.98px) { 

    .banner{
        display: flex;
        padding: 0;
        align-items: flex-start;
    }

    .descricoes{
        width: 90%;
        padding: 10;
        margin-left: 10px;
        line-height: 7px;
    }

    .sobre p:nth-child(1){
        padding: 10px;
        width:90%;
    }

    .sobre h2{
        padding: 5px;
    }

    .conteudo{
        padding: 0;
    }

    .img-desk{
        display: none;
    }
    
    .img-mobile{
        display: block;
    }
    
}