<div class="itens">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item banner ">
                <div class="descricoes">
                    <div class="sobre">
                        <p>Desconto de fim de semana</p>
                        <span>O video gamer</span>
                        <h2>Mais Poderoso da Nova Geração</h2>
                        <p class="conteudo">Console Xbox Serie X 1Tb + Controle Sem Fio</p>
                    </div>
                    <button type="button">Comprer agora</button>
                </div>
                <img class="d-block" src="assets/images/img-banners/banner_slide_1.png" alt="Primeiro Slide">
            </div>

            <div class="carousel-item banner ">
                <div class="descricoes">
                    <div class="sobre">
                        <p>Desconto de fim de semana</p>
                        <span>Cadeiras Gamer</span>
                        <h2>Mais Conforto Para o Seu Lazer</h2>
                        <p class="conteudo">Braços reguladores - 50cm de altura</p>
                    </div>
                    <button type="button">Comprer agora</button>
                </div>
                <img class="d-block" src="assets/images/img-banners/banner_slide_2.png" alt="Primeiro Slide">
            </div>

            <div class="carousel-item banner ">
                <div class="descricoes">
                    <div class="sobre">
                        <p>Desconto de fim de semana</p>
                        <span>Monitor 4K</span>
                        <h2>Monitor Gamer 27"</h2>
                        <p class="conteudo">Led FreeSync - HDMI</p>
                    </div>
                    <button type="button">Comprer agora</button>
                </div>
                <img class="d-block" src="assets/images/img-banners/banner_slide_3.png" alt="Primeiro Slide">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <!-- <span class="sr-only">Anterior</span> -->
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <!-- <span class="sr-only">Próximo</span> -->
        </a>
      </div>
</div>
