<div class="itens" *ngFor="let produto of produtos">
    <div class="img">
        <img src="{{produto.imagem}}" alt="">
    </div>
    <div class="identificador">
        <app-indicadores></app-indicadores>
    </div>
    <div class="descricao">
        <p>
            {{produto.descricao}}
        </p>
        <div class="estrelas">
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
        </div>
    </div>

    <div class="valor">
        <div class="preco">
            <span class="sem-desconto">{{produto.valor_real}}</span>
            <span class="desconto">{{produto.valor_desconto}}</span>
        </div>
        <div class="carrinho">
            <app-add-carrinho></app-add-carrinho>
        </div>
    </div>
</div>
