<div class="itens">
    <div class="img">
        <img src="assets/images/img-produtos/pc-gamer.png" alt="">
    </div>
    <div class="identificador">
        <app-indicadores></app-indicadores>
    </div>
    <div class="descricao">
        <p>
            Computador Gamer i7 16gb de memória 
            + monitor + teclado + headset
        </p>
        <div class="estrelas">
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
            <app-estrelas></app-estrelas>
        </div>
    </div>

    <div class="valor">
        <div class="preco">
            <span class="sem-desconto">R$ 3599,00</span>
            <span class="desconto">R$ 2999,00</span>
        </div>
        <div class="carrinho">
            <app-add-carrinho></app-add-carrinho>
        </div>
    </div>
</div>
