.itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.destaque{
    flex: 1;
}

.fim-semana{
    flex: 3;
}


@media (max-width: 575.98px) { 
    .itens{
        flex-direction: column;
    }

    .destaque, .fim-semana{
        margin-bottom: 10px;
        width: 100%;
    }
}