<div class="aside">
    
    <ul>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Acessórios</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>

        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                   <img src="assets/images/icones/icone-xbox.png" alt="icone-xbox">
                </span>
                <p>Xbox</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/icone-pS.png" alt="icone-playstation">
                </span>
                <p>PlayStation</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/icone-nintendo.png" alt="icone-nintendo">
                </span>
                <p>Nintendo</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/computer.png" alt="icone-computador">
                </span>
                <p>Pc Gamer</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/joystick.png" alt="icone-retrogame">
                </span>
                <p>Fliperamas</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/retro-game.png" alt="icone-retrogame">
                </span>
                <p>Retror</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/pre-pago.png" alt="icone-retrogame">
                </span>
                <p>Semi-novos</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/server.png" alt="icone-retrogame">
                </span>
                <p>Colecionáveis</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/rubik.png" alt="icone-retrogame">
                </span>
                <p>Geek</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/new-product.png" alt="icone-retrogame">
                </span>
                <p>Novidades</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                    <img src="assets/images/icones/compliant.png" alt="icone-retrogame">
                </span>
                <p>HQ's</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>
    
</div>