<div class="aside">
    
    <ul>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Acessórios</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>

        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                   <img src="assets/images/icone-xbox.png" alt="">
                </span>
                <p>Xbox</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="icone">
                   <img src="" alt="">
                </span>
                <p>PlayStation</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Nintendo</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Pc Gamer</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Fliperamas</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Retror</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Semi-novos</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Colecionáveis</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Geek</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>Novidades</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li class="dropdown">
            <div class="acessorios">
                <span class="material-symbols-outlined">
                    headset_mic
                </span>
                <p>HQ's</p>
            </div>
            <span class="material-symbols-outlined">
                chevron_right
            </span>

            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    </ul>
    
</div>