*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;

    width: 100%;
}

header{
    background-color: #122a57;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
}

header .list-itens{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

div img{
    display: block;
    width: 100%;
}

.list-itens li a{
    color: white;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;

}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin: 10px;
}

.texto-apresentacao a{
    background-color: #122a57;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    line-height: 48px;
    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    display: flex;
    font-size: 32px;
    color: #122a57;
    margin-bottom: 20px;

}

#quem-somos h2::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}