<div class="item">
    <div class="lista-marca">
        <div class="marca">
            <a href="#">
                <img class="assus" src="assets/images/logo-empresas/ASUS_Logo.svg.png" alt="">
            </a>
            <a href="#">
                <img class="nintendo" src="assets/images/logo-empresas/nintendo-switch-logo-38D4F5C7E7-seeklogo.com.png" alt="">
            </a>
            <a href="#">
                <img class="playS" src="assets/images/logo-empresas/2560px-PlayStation_logo.svg.png" alt="">
            </a>
            <a href="#">
                <img class="razer" src="assets/images/logo-empresas/Razer-Logo.png" alt="">
            </a>
            <a href="#">
                <img class="xbox" src="assets/images/logo-empresas/Xbox-Logo-2012-presente.png" alt="">
            </a>
        </div>
    </div>
</div>
