.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.lista-marca{
    display: flex;
    width: 100%;

}

.marca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.marca a img{
    width: 200px;
}

.marca a .nintendo, .marca a .playS{
    width: 100px;

}


@media (max-width: 575.98px) { 
    .marca a img{
        width: 80px;
    }

    .marca a .nintendo, .marca a .playS{
        width: 40px;
    
    }
 }