/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', "Helvetica Neue", sans-serif; 
    padding: 0;
    color: #021523;
}


.app-flex-container{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.app-container{
    display: flex;
    width: 90%;
    margin: auto;
}

ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

a{
    text-decoration: none;
}


/*Estilo do menu do roda pé*/
.itens-menu{
    padding: 20px;
}

.itens-menu h4{
    font-size: 2em;
    font-weight: 400;
}

.itens-menu ul{
    list-style: none;
    width: 100%;
    display: inline;
    
}

.itens-menu ul li{
    padding: 5px;
}

.itens-menu ul li a{
    width: 100%;
    color: #818EA0;
    font-size: 1.2em;
}


@media (max-width: 575.98px) { 
    .itens-menu{
        padding: 5px;
    }
    
    .itens-menu h4{
        font-size: 1em;
        font-weight: 400;
    }
    
    .itens-menu ul li a{
        font-size: 1em;
    }
 }