/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');


body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.container{
    display: flex;
    width: 90%;
    margin: auto;
}

