/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@700&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Roboto', "Helvetica Neue", sans-serif; 
    padding: 0;
}


.app-flex-container{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.app-container{
    display: flex;
    width: 90%;
    margin: auto;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
}



