.material-symbols-outlined{
    font-size: 3em;
    padding: 20px;
}

.toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
