<div class="itens">
    <div class="linha-1">
        <div class="bloco-1">
            <div>
                <p>Desconto de fim de semana</p>
                <h3>Headset Gamer</h3>
                <span class="valor-desconto">R$ 389,00</span>
                <span class="valor-antigo">R$ 450,00</span>
            </div>
            <img src="assets/images/img-produtos/headset_gamer.png" alt="headset gamer">
        </div>

        <div class="bloco-2">
            <div>
                <p>Desconto de fim de semana</p>
                <h3>Cadeira Gamer</h3>
                <span class="valor-desconto">R$ 1260,00</span>
                <span class="valor-antigo">R$ 1850,00</span>
            </div>
            <img src="assets/images/img-produtos/cadeira_gamer_homem_aranha.png" alt="cadeira gamer tema homem aranha">
        </div>
    </div>

    <div class="linha-2">
        <div>
            <p>Desconto de fim de semana</p>
            <h3>Nintendo Switch OLED</h3>
            <span>Não perca a última oportunidade</span>
            <div class="botao">
                <app-btn-comprar></app-btn-comprar>
            </div>
        </div>
        <img src="assets/images/img-produtos/nintedo_switch.png" alt="cadeira gamer tema homem aranha">

    </div>
</div>
