.itens{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2{
    font-size: 2em;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
}

.produtos{
    display: flex;
}


.banner img{
    width: 250px;
    position: relative;
    z-index: -1;
}

.mais-vendido-desk{
    display: inline-block;
}

.mais-vendido-mobile{
    display: none;
}

.banner .descricao{
    position: absolute;
    padding: 20px;
    margin-top: 30px;
}

.descricao h3{
    color: #0070DC;
    font-size: 1.5em;
    font-weight: 400;
}

.descricao p{
    font-size: 2em;
    font-weight: 400;

}

.descricao span{
    font-size: 2em;
    font-weight: 700;
}

.botao{
    margin-top: 20px;
}

.vitrine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.lista-produtos{
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (max-width: 575.98px) {



    .produtos{
        flex-direction: column;
    }

    .banner{
        order: 2;
        margin-top: 20px;

    }

    .mais-vendido-desk{
        display: none;
    }

    .mais-vendido-mobile{
        display: block;
    }

    .banner img{
        width: 100%;
    }

    .vitrine{
        order: 1;
    }

    .banner .descricao{
        margin-top: 0;
    }

    .descricao h3{

        font-size: 2em;
    }
}


