<div class="itens">
    <h2>Mais vendidos</h2>

    <div class="produtos">
        <div class="banner">

            <div class="descricao">
                <h3>Mais vendido</h3>
                <p>Adquira o mais</p>
                <p>recente console</p>                
                <span>Xbox Series S</span>
                <div class="botao">
                    <app-btn-comprar></app-btn-comprar>
                </div>
            </div>
            <img class="mais-vendido-desk" src="assets/images/img-produtos/banner_xbox_s.png" alt="area de item mais vendido">
            <img class="mais-vendido-mobile" src="assets/images/img-produtos/banner_xbox_s_mobile.png" alt="area de item mais vendido">

        </div>

        <div class="vitrine">
            <div class="lista-produtos">
                <app-card-produto></app-card-produto>
            </div>
        </div>
    </div>
</div>