<section class="app-flex-container cabecalho">

    <div class="app-container">
        <div class="itens">
            <app-logo class="logo"></app-logo>             
            <app-menu class="menu-desk"></app-menu> 

            <app-servicos class="servicos-mobile"></app-servicos>             

            <div class="area-servico">
                <app-servicos class="servicos-desks"></app-servicos>
            </div>

        </div>
    </div>
    <app-menu class="menu-mobile"></app-menu> 
    
</section>
