.cabecalho{
    background-color: #031424;
    padding: 10px;
}

.cabecalho .itens{
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.itens .area-servico{
    flex: 2;
    height: auto;
}

.servicos-mobile, .menu-mobile{
    display: none;
}

.toggle{
    display: none;
}



@media (max-width: 575.98px) {        
    .menu-desk, .area-servico{
        display: none;
    }
    .servicos-mobile, .menu-mobile{
        display: inline-block;
    }


}
/*@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... } */




