<div class="itens-menu">
    <h4>Ajuda</h4>
    <ul>
        <li>
            <a href="#">Sua conta</a>
        </li>
        <li>
            <a href="#">Seus pedidos</a>
        </li>
        <li>
            <a href="#">Devolução</a>
        </li>
        <li>
            <a href="#">Reembolso</a>
        </li>
        <li>
            <a href="#">Politíca de privacidade</a>
        </li>
        <li>
            <a href="#">Termos e condições</a>
        </li>
        <li>
            <a href="#">Centro de ajuda</a>
        </li>        
    </ul>
</div>