<div class="itens-sociais">
    <div class="app-container">
        <div class="logo-sociais">

            <div class="logo">
                <a href="#">
                    <img src="assets/images/logo_header.png" alt="logo roda pé gamerplayer">
                    <span>GamerPlayer</span>
                </a>
            </div>

            <div class="sociais">
                <a href="">
                    <img src="assets/images/icones-sociais/icone-facebook.png" alt="icone facebook">
                </a>
                <a href="">
                    <img src="assets/images/icones-sociais/icone-instagram.png" alt="icone facebook">
                </a>
                <a href="">
                    <img src="assets/images/icones-sociais/icone-linkedin.png" alt="icone facebook">
                </a>
                <a href="">
                    <img src="assets/images/icones-sociais/icone-pinterest.png" alt="icone facebook">
                </a>
                <a href="">
                    <img src="assets/images/icones-sociais/icone-twiter.png" alt="icone facebook">
                </a>
                <a href="">
                    <img src="assets/images/icones-sociais/icone-youtube.png" alt="icone facebook">
                </a>
                
            </div>
        </div>
        <div class="autor">
            <p>Desenvolvido por <a href="https://github.com/rafael-ds" target="_blank"> Rafael Silva </a></p>
        </div>
    </div>
</div>
