<div class="itens-menu">
    <h4>Categorias</h4>
    <ul>
        <li>
            <a href="#">Acessórios</a>
        </li>
        <li>
            <a href="#">Xbox</a>
        </li>
        <li>
            <a href="#">PlayStation</a>
        </li>
        <li>
            <a href="#">Nintendo</a>
        </li>
        <li>
            <a href="#">Pc Gamer</a>
        </li>
        <li>
            <a href="#">Fliperamas</a>
        </li>
        <li>
            <a href="#">Retro</a>
        </li>
        <li>
            <a href="#">Semi novos</a>
        </li>
        <li>
            <a href="#">Coleciónaveis</a>
        </li>
        <li>
            <a href="#">Geeks</a>
        </li>
        <li>
            <a href="#">Novidades</a>
        </li>
        <li>
            <a href="#">HQ's</a>
        </li>
        
    </ul>
</div>