<div class="card">
    <div class="card-header">Filtros</div>

    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="de">De</label>
                <input type="number" name="de" id="de" class="form-control">
            </div>

            <div class="form-group">
                <label for="ate">Ate</label>
                <input type="number" name="ate" id="ate" class="form-control">
            </div>

            <button class="btn btn-primary mt-4">Filtrar</button>
        </form>
    </div>
</div>