body{
    background-color: #ccc;
}

#tittle, .subtittle, .post_tittle{
    color: blue
}

.post_tittle{
    font-size: 16px;
    font-style: italic;
}

.post{
    background-color: white;
    padding: 10px;
    border: black 3px solid;
    margin: 10px;
}