.banner{
    padding: 20px;
    background-color: #F9F9F9;
}

.descricao{
    padding: 10px;
    margin-top: 20px;
}

.descricao p{
    color: #0070DC;
    font-size: 1.3em;
    font-weight: 400;
}

.descricao h3{
    font-size: 2em;
    font-weight: 800;
}

.descricao span{
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 10px;
}

.botao{
    margin-top: 20px;
}

.banner img{
    width: 240px;
    margin-top: 50px;
    margin-left: -10px;
}


@media (max-width: 575.98px) { 
    .banner{
        width: 100%;
    }

    .banner img{
        width: 350px;
        margin-top: 20px;
    }
}
